/* --------- GENERAL ---------- */

body
{
    font-family: 'Kumbh Sans', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}


/* ------- CONTAINER ------- */

main .container
{
    width: 920px;

    margin: 150px 0;

    background-color: white;

    border-radius: 25px;

    display: flex;
}

main .container>div
{
    width: 50%;
}




/* -------- LEFT CONTAINER -------- */

main .container>.left-container
{
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: 1000px;
    background-position: -610px -310px;
    background-repeat: no-repeat;

    height: 510px;

    position: relative;

    display: flex;
}

main .container .left-container>.container-img
{
    overflow: hidden;

    width: 100%;

    position: relative;
}

main .container .left-container>img
{
    position: absolute;
    left: -93px;
    top: 206px;
}

main .container .left-container .container-img>img
{
    position: absolute;
    left: -80px;
    top: 70px;
}


/* ---------- RIGHT CONTAINER ---------- */

main .container .right-container .h1
{
        margin-top: 70px;
        margin-bottom: 25px;
}

main .container .right-container .h1>h1
{
    font-size: 30px;
    font-weight: 700;

    text-transform: uppercase;
}



/* -------- ACCORDION -------- */

main .container .right-container>.accordionDiv
{
    font-size: 12px;

    color: hsl(238, 29%, 16%);
}

main .container .right-container .accordionDiv>.accordion
{
    width: 350px;
    height: 50px;

    margin: 0;
    padding: 0;

    font-size: 15px;

    border: none;

    background-color: white;

    text-align: start;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

/* main .container .right-container .accordionDiv>.accordion>img
{
    transform: rotate(180deg);
} */

main .container .right-container .accordionDiv>.content
{
    display: block;

    width: 350px;

    max-height: 0;

    overflow: hidden;

    transition: max-height 0.2s ease-out;

    border-bottom: 1px solid hsl(240, 5%, 91%);
}

main .container .right-container .accordionDiv .content>p
{
    font-size: 12px;

    padding-bottom: 15px;

    color: hsl(240, 6%, 50%);
}